/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: SAMPLESHEET_CHECK {
        executor = 'local'
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: CAT_CAT {
        ext.prefix = { "${meta.id}_311_merged.fa" }
    }

    withName: MAFFT {
        ext.args = "--auto"
        ext.prefix = { "${meta.id}_aligned" }
        cpus = 1
        memory = 15.GB
    }

    withName: BWA_INDEX {
        cpus = 1
        memory = 2.GB
    }

    withName: BWA_ALN {
        cpus = 3
        memory = 2.GB
    }

    withName: BWA_SAMSE {
        cpus = 3
        memory = 2.GB
    }


    withName: RUN_CONTAMMIX {
        cpus = 4
        memory = 25.GB
    }

    withName: CUSTOM_DUMPSOFTWAREVERSIONS {
        publishDir = [
            path: { "${params.outdir}/pipeline_info" },
            mode: params.publish_dir_mode,
            pattern: '*_versions.yml'
        ]
    }

}

profiles {
    local {

        withName: MAFFT {
            cpus =  2
            memory = 2.GB
        }

        withName: IVAR_CONSENSUS {
            cpus = 2
            memory = 2.GB
        }

        withName: BWA_INDEX {
            cpus = 2
            memory = 2.GB
        }

        withName: BWA_ALN {
            cpus = 2
            memory = 2.GB
        }

        withName: BWA_SAMSE {
            cpus = 2
            memory = 2.GB
        }

        withName: RUN_CONTAMMIX {
            cpus = 4
            memory = 4.GB
        }
    }
}
